
{% extends "../layouts/layout.njk" %}

{% block javascript %}
<script src="{{ res_source_host }}/other.js"></script>
{% endblock %}

{% block workspace %}
<div class="u-enrolment-container" data-lb-page='enrolment' data-nav="navEnrolment">
    <div class="u-enrolment-title">
        <div class="u-banner-bg">
            <!--<h2 class="u-enrolment-title-txt u-enrolment-title-txt-p">朗播│英语智能学习实验室</h2>-->
            <!--<h2 class="u-enrolment-title-txt">Langlib | Smart English Learning LAB</h2>-->
            <!--<p class="u-enrolment-title-info" style="margin-top: 20px">用更智能的方法学英语</p>-->
            <!--<p class="u-enrolment-title-info">Smarter Way, Better English</p>-->
        </div>
    </div>
    <div class="u-enrolment-tab">
        <div class="u-row-container u-tab-title-position">
            <p class="u-tab-title"><span>朗播 | 英语智能学习实验室 </span>基于朗播大数据和人工智能技术，打造“线上教学和朗播智能学习系统+线下真人教师监督指导” 新型智能学习系统，一站式高效解决托福/雅思备考问题。</p>
        </div>
        <div class="u-row-tab">
            <ul>
                <li>
                    <div data-usr-tab="0" class="u-tab-content-group u-tab-content-f u-tab-content-f-checked"></div>
                    <div class="u-tab-content-info" style="display: block"></div>
                </li>
                <li>
                    <div data-usr-tab="1" class="u-tab-content-group u-tab-content-z"></div>
                    <div class="u-tab-content-info"></div>
                </li>
                <li>
                    <div data-usr-tab="2" class="u-tab-content-group u-tab-content-zn"></div>
                    <div class="u-tab-content-info"></div>
                </li>
                <li>
                    <div data-usr-tab="3" class="u-tab-content-group u-tab-content-x"></div>
                    <div class="u-tab-content-info"></div>
                </li>
            </ul>
        </div>
    </div>

    <div class="u-vs-result">
        <!--<div class="u-row-container">-->
            <!--<p class="u-title-center">实验室 v 传统机构对比</p>-->
            <!--<div class="u-vs-result-content"></div>-->
        <!--</div>-->
    </div>
    <div class="u-row-evaluation">
        <div class="u-row-container">
            <p class="u-title-center">学员评价</p>
            <ul class="u-evaluation-content">
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
